<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/images/website_icon.png}"/>

    <title>Log in</title>

</head>

<body>

<div class="MainContainer">

    <div class="Logo">

        <img class="LogoImage" th:src="@{/images/logo-no-writing.png}">

        <div class="LogoHeaders">
            <h class="LogoHeader1">GdzieJestGrane</h>
            <h class="LogoHeader2">Do zobaczenia na boisku</h>
        </div>

    </div>

    <div id="FormAndButtons">

        <p>Log in and do not miss any game!</p>

        <form id="LogInForm" action="?page=login" method="POST" >
            <input name="email" type="text" placeholder="Enter your email..." onfocus="this.placeholder=''" onblur="this.placeholder='Enter your email...'">
            <input name="password" type="password" placeholder="Enter your password..." onfocus="this.placeholder=''" onblur="this.placeholder='Enter your password...'">
            <input id="LogInButton" type="submit"  value="Zaloguj się!">
        </form>

        <a href="?page=signin" id="SignInButton">Don't know where's playing on? Sign in!</a>

    </div>

</div>

</body>
</html>

